$primaryColor: #1e1e1e;
$secondaryColor: #008cff;


$minWidth: 850px;
$maxWidth: 1200px;

@import url('https://fonts.googleapis.com/css?family=Lexend&display=swap');
// link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lexend"

$headerFont: "Lexend";
$textFont: "Lexend";