title Jonathan Giezendanner
meta name="twitter:title" content="Jonathan Giezendanner"
meta name="twitter:site" content="Welcome to the personal website of Jonathan Giezendanner"
meta prefix="og: http://ogp.me/ns#" property="og:type" content="website"
meta name="twitter:card" content="summary"
meta name="description" content="todo"
meta name="twitter:description" content="todo"
meta prefix="og: http://ogp.me/ns#" property="og:image" content="Todo"
meta name="twitter:image" content="todo"