title Jonathan Giezendanner
meta name="twitter:title" content="Jonathan Giezendanner"
meta name="twitter:site" content="Jonathan Giezendanner"
meta prefix="og: http://ogp.me/ns#" property="og:type" content="website"
meta name="twitter:card" content="summary"
meta name="description" content="Welcome to the personal website of Jonathan Giezendanner"
meta name="twitter:description" content="Welcome to the personal website of Jonathan Giezendanner"
meta prefix="og: http://ogp.me/ns#" property="og:image" content="https://www.jgiezendanner.com/Images/Profile.png"
meta name="twitter:image" content="https://www.jgiezendanner.com/Images/Profile.png"