@font-face {
  font-family: "Readexpro";
  src: url("/Fonts/ReadexPro-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: "Readexpro";
  src: url("/Fonts/ReadexPro-bold.ttf");
  font-weight: 700; }

@font-face {
  font-family: "Readexpro";
  src: url("/Fonts/ReadexPro-ExtraLight.ttf");
  font-weight: 200; }

@font-face {
  font-family: "Readexpro";
  src: url("/Fonts/ReadexPro-Light.ttf");
  font-weight: 300; }

@font-face {
  font-family: "Readexpro";
  src: url("/Fonts/ReadexPro-Medium.ttf");
  font-weight: 500; }

@font-face {
  font-family: "Readexpro";
  src: url("/Fonts/ReadexPro-SemiBold.ttf");
  font-weight: 600; }

body {
  font-family: "Readexpro";
  margin: 0;
  padding: 0; }
